application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

tmp/*
!tmp/index.html
!tmp/.htaccess

fire.php
application/third_party/fire

.project
.buildpath
.settings